@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary: #154DD7;
  --secondary: #7E49FF;
  --dark: #1E293B;
  --light: #F8FAFC;
  --white: #FFFFFF;
  --placeholder: #64748B;
  --h1: 3rem;
  --h2: 2.5rem;
  --h3: 2rem;
  --paragraph: 1.5rem;
  --button: 1rem;
  --h4: 1.5rem;
  --par: 0.875rem;
  --br-md: 1rem;
  --br-lg: 2rem;

  padding: 0;
  margin: 0;

  --shadow: -0.5rem 0.5rem 25px rgba(105, 105, 105, 0.1);
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
h4 {
  font-size: 1.1rem;
  font-weight: bold;
}
p {
  font-size: 1.15rem;
  font-weight: normal;
}

body {
  font-family: 'Poppins';
  background-color: var(--light);
  color: var(--dark);
  min-height: 100vh;
}


.btn-primary {
  padding: 0.75rem 1rem;
  background-color: var(--primary);
  color: var(--white);
  border-radius: var(--br-md);
  font-weight: bold;
  font-size: var(--button);
  font-family: inherit;
  border: 3px solid var(--primary);
  cursor: pointer;
}

.btn-primary:hover {
  border: 3px solid var(--primary);
  background-color: transparent;
  color: var(--primary);
}


.btn-outlined {
  padding: 0.75rem 1rem;
  background-color: transparent;
  color: var(--primary);
  border-radius: var(--br-md);
  border: 3px solid var(--primary);
  font-weight: bold;
  font-size: var(--button);
  font-family: inherit;
  cursor: pointer;
}

.btn-outlined:hover {
  background-color: var(--primary);
  color: var(--white);
}


/* Navbar */

.nav-container {
  padding: 0 6rem;
  position: sticky;
  top: 5px;
  z-index: 99999;
}

nav {
  background-color: #0A329503;
  border-radius: var(--br-lg);
  padding: 1rem 2.25rem;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(3px);
}

nav a {
  text-decoration: none;
}

.nav-links {
  display: flex;
  flex-direction: row;
  column-gap: 2.75rem;
}

.nav-links li {
  list-style: none;
  color: var(--dark);
  cursor: pointer;
}
.nav-links li:hover {
  color: var(--dark);
}



/* Hero section */
.top-gradient {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.hero-section {
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 5rem;
  margin: 0 6rem;
}

.hero-section .lines {
  position: absolute;
  bottom: 0;
  background: url(../assets/images/gradient\ lines.svg) center no-repeat;
  background-blend-mode: multiply;
  width: 100%;
  height: 100%;
}

.hero-section h2 {
  color: var(--white);
  margin: 0;
}

.hero-section .finances-img {
  scale: 85%;
  position: absolute;
  top: 35%;
  right: 5%;
}

.hero-section .complaints-img {
  scale: 85%;
  position: absolute;
  top: 45%;
  left: 0;
}

.hero-section .avatar-icon {
  scale: 85%;
  position: absolute;
  top: 35%;
  left: 15%;
}

.hero-section .settings-icon {
  scale: 85%;
  position: absolute;
  top: 65%;
  right: 35%;
}

.hero-section .market-icon {
  scale: 85%;
  position: absolute;
  top: 85%;
  left: 30%;
}

.hero-section .electricity-chip {
  scale: 85%;
  position: absolute;
  top: 85%;
  right: 30%;
}


/* Mockup Section */

.mockup-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 470px;
  margin: 0 6rem;
  overflow: hidden;
}

.mockup-section .hero-phone-mockup {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.mockup-section .top-half {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mockup-section .top-half .left {
  margin-left: 4rem;
  align-self: center;
  width: 25%;
}

.mockup-section .top-half .right {
  justify-self: end;
  align-self: flex-end;
  width: 30%;
}

.mockup-section .bottom-half {
  background: linear-gradient(to top, var(--light) 75%, transparent);
  z-index: 8888;
  text-align: center;
  padding: 1% 35%;
}


/* Speciality Section */

.speciality-section {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin-top: 2.5rem;
  align-items: center;
  background-color: var(--white);
  padding: 1.25rem 6rem;
}

.speciality-section .top-half {
  display: flex;
  flex-direction: row;
}

.speciality-section .top-half .right {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding-left: 4rem;
}

.speciality-section .top-half .right .card:nth-child(2) {
  transform: translateX(-2rem);
}

.speciality-section .top-half .right .card {
  padding: 0.75rem 1.5rem;
  box-shadow: -0.5rem 0.5rem 25px rgba(105, 105, 105, 0.1);
  border-radius: var(--br-md);
}

.speciality-section .top-half .right .card .icon {
  scale: 0.95;
}

.speciality-section .top-half .right .card p {
  font-size: 0.875rem;
}

.speciality-section .top-half .right .card .head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.speciality-section .top-half .right .card .head h4 {
  color: var(--primary);
}

.speciality-section .top-half .right .card:nth-child(2) .head h4 {
  color: var(--dark);
}

.speciality-section .bottom-half {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.speciality-section .bottom-half .left {
  width: 40%;
}

.speciality-section .bottom-half .left .btns-wrapper {
  margin-top: 2rem;
}

.speciality-section .bottom-half .right {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 1.75rem;
}

.speciality-section .bottom-half .right .logo-circle {
  position: absolute;
  top: 20%;
  left: 27%;
  z-index: 0;
}

.speciality-section .bottom-half .right .card {
  background-color: #0a319517;
  border-radius: var(--br-md);
  width: 35%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  text-align: center;
  z-index: 2;
}

.speciality-section .bottom-half .right .card img {
  width: 3rem;
  height: 100%;
}

.speciality-section .bottom-half .right .card p {
  margin: 0;
  font-size: var(--par);
}

.speciality-section .bottom-half .right .cards-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}


/* Testimonials */

.testimonials {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  align-items: center;
  padding-top: 3rem;
  height: 60vh;
  padding-left: 6rem;
  padding-right: 6rem;
}

.testimonials .cards {
  display: flex;
  flex-direction: row;
  row-gap: 2rem;
  height: 100%;
  justify-content: space-between;
}

.testimonials .cards .card {
  position: relative;
  background-color: #0a31950b;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 35%;
  height: fit-content;
  border-radius: var(--br-lg);
  box-shadow: -0.5rem 0.5rem 15px rgba(105, 105, 105, 0.105);
}


.testimonials .cards .card-1 .person-left, .cards .card-2 .person-right {
  position: absolute;
  top: 3rem;
}

.testimonials .cards .card .person-left {
  right: -10%;
}
.testimonials .cards .card .person-right {
  left: -10%;
}

.testimonials .cards .card .quote-icon {
  width: 30px;
}

.testimonials .cards .card p {
  margin: 0;
}

.testimonials .cards .card-2 {
  align-self: flex-end;
}

.testimonials .cards .card-1 {
  padding-right: 6rem;
}

.testimonials .cards .card-2 {
  padding-left: 6rem;
}

.testimonials .cards .card-2 p, .testimonials .cards .card-2 .quote-icon{
  padding-left: 2rem;
}

.testimonials .cards .card .name {
  color: var(--primary);
  font-weight: 800;
  margin-top: 2rem;
}

.testimonials .cards .card .job-title {
  color: var(--placeholder);
  font-size: var(--par);
}


/* Download */

.download {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9rem;
  text-align: center;
  background-color: var(--white);
}

.download .gradient {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  opacity: 50%;
}

.download p {
  font-size: var(--par);
  margin: 0;
  width: 60%;
}

.download .stores {
  margin-top: 2rem;
}


/* Footer */

footer {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  background-color: var(--white);
  padding: 2rem 5rem;
}

footer .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 7rem;
}

footer .top .socials {
  width: 40%;
}

footer .top .socials p {
  font-size: var(--par);
}

footer .top .socials .icons img {
  margin-right: 1rem;
}

footer .top .links li {
  list-style: none;
}

footer .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer .bottom img {
  width: 2rem;
}

footer .bottom p {
  font-size: var(--par);
}





/* Contact Page */

.contact-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  padding: 1rem 4rem;
  gap: 8rem;
  justify-content: center;
}

.contact-container .left-side {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.contact-container .left-side h2 {
  font-size: var(--h1);
  margin: 0;
}

.contact-container .left-side p {
  margin: 0;
}

.contact-container .left-side form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.contact-container .left-side form label {
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.contact-container .left-side form input {
  height: 50px;
}

.contact-container .left-side form input, textarea {
  border-radius: var(--par);
  border: 1px #D0D5DD solid;
  background-color: #0a31950e;
  outline: none;
  padding-left: 1rem;
}

.contact-container .left-side form .name {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
}

.contact-container .left-side form .name .firstname {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contact-container .left-side .btn-primary {
  margin-top: 2rem;
}




/* About */

section {
  padding: 8rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  z-index: 3;
  position: relative;
}

.about-gradient {
  z-index: 0;
}

.about-hero {
  z-index: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

.about-hero .overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(to top, var(--white) 75%, transparent);
}

section .vision, section .mission, section .values {
  margin-top: 3rem;
}

section .mission .text {
  display: flex;
  flex-direction: row;
  gap: 8rem;
  justify-content: space-between;
}

section .mission .text p {
  margin: 0rem;
}

section .values {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section .values .cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 1.5rem;
}

section .values .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #7d49ff0c;
  border-radius: var(--br-md);
  padding: 1.5rem;

}

section .values .cards .card h5 {
  color: var(--primary);
  font-size: 1rem;
  margin-top: 0;
}

section .values .cards .card p {
  margin: 0;
  font-size: var(--par);
}



section .team {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 8rem;
}

section .team .left, section .team .right {
  width: 40%;
}

section .team .right h2 {
  font-size: var(--h3);
}

section .team .right .cards .card {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

section .team .right .cards .card p, section .team .right .cards .card h5 {
  margin: 0;
}

section .team .right .cards .card p {
  font-size: var(--par);
}

section .team .right .cards .bg-color {
  border-radius: var(--br-md);
  background-color: #0a31950b;
  transform: translateX(1.5rem);
  padding: 1.5rem;

}

section .team .right .cards .card .title {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  align-items: center;
  margin-bottom: 1rem;
}

section .team .right .cards .card .title p {
  font-size: .85rem;
  color: var(--placeholder);
}

section .team .right .cards .card .title h5 {
  color: var(--primary);
  font-size: 1.25rem;
}




/* Services */

.services-hero {
  padding: 8rem 24rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  z-index: 3;
  position: relative;
}

.services {
  background: none;
}

.services .first .top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.services .first .top .left .title {
  position: relative;
  margin-bottom: 4rem;
}

.title .title-text {
  position: absolute;
  top: 50%;
  background-color: var(--white);
  border-radius: var(--br-md);
  width: 30%;
  padding: 1rem;
  box-shadow: var(--shadow);
  color: var(--primary);
  text-align: center;
  left: 10%;
}

.services .first .top .left p {
  width: 80%;
}

.services .first .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  margin-top: 2rem;
}

.services .first .bottom .card {
  background-color: #0a31950b;
  border-radius: var(--br-md);
  padding: 1rem;
  text-align: center;
  width: 20%;
}

.services .first .bottom .card h5 {
  margin: 0;
}


.padded-white-section {
  background-color: var(--white);
}

.padded-white-section .second .line-doodle {
  position: absolute;
  bottom: 0;
  left: 20%;
  z-index: -1;
}

.padded-white-section .second {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-top: 5rem;
  padding-bottom: 3rem;
  gap: 2rem;
}

.padded-white-section .second .title {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}

.padded-white-section .second .title .title-text {
  width: fit-content;
}

.padded-white-section .second .text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.padded-white-section .second .text p {
  width: 70%;
  z-index: 1;
}

.padded-white-section .second .text .debt-illust {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 50%;
  z-index: 0;
}


.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 12rem;
  padding-right: 12rem;
  padding-top: 6rem;
  padding-bottom: 4rem;
  background: none;
}

.two-columns p {
  text-align: center;
}

.two-columns .third {
  padding-bottom: 6rem;
}

.two-columns .third, .two-columns .fourth {
  width: 40%;
}

.two-columns .third .top {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
}

.two-columns .third .top .right, .two-columns .fourth .top .left {
  position: relative;
}

.two-columns .third .top .right .title-text, .two-columns .fourth .top .title-text {
  background-color: #7d49ff;
  box-shadow: var(--shadow);
  position: absolute;
  padding: 1rem;
  color: var(--white);
  border-radius: var(--br-md);
  text-align: center;
  bottom: -15%;
  left: -10%;
}

.two-columns .fourth {
  align-self: flex-end;
}

.two-columns .fourth .top {
  margin-bottom: 3rem;
}

.two-columns .fourth .top .title-text {
  right: 20%;
  left: auto;
}

.two-columns .fourth .top .left {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.padded-white-section .second .title .community {
  position: absolute;
  right: -25%;
  left: auto;
}



.services-test {
  flex-direction: column !important;
  margin-top: 4rem;
}

.test-height p {
  margin: 0;
}

.test-height h2 {
  margin-bottom: .75rem !important;
}

.test-height {
  height: fit-content !important;
  row-gap: 0;
}

.services-test .card .person-left {
  right: -15% !important;
}



.faq {
  padding-top: 3rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.faq .faq-gradient {
  position: absolute;
  right: 0;
  top: -10%;
  z-index: -1;
  opacity: 50%;
}

.faq p {
  margin: 0;
}

.faq-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding-left: 12rem;
  padding-right: 12rem;
}

.faq-row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.faq-card {
  width: 50%;
  background-color: #0A329509;
  padding: 1.5rem;
  border-radius: var(--br-md);
  /* height: fit-content; */
  cursor: pointer;
}

.faq-card details summary {
  font-weight: 600;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.faq-card details summary::-webkit-details-marker {
  display: none;
}

.faq-card details p {
  font-size: var(--par);
  margin-top: 1rem;
}